.graph-settings--container {
    display: flex;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 8px;
    margin-top: 8px;
    background-color: lightslategray;
}

.graph-settings--xAxis {
    flex: 3;
    padding: 10px;
}


.graph-settings--yAxis {
    flex: 2;
    padding: 10px;
}


.graph-settings--colorscale {
    flex: 4;
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 60px;
}

.graph-settings--updateButton {
    flex: 1;
    padding: 10px;
    height: auto;
    align-items: center;
}