.graph-picker{
    height: auto;
    flex: 5;
    border-style: outset;
    padding: 5px;
    background: fixed;
    background-color: var(--mint);
}


.graph-picker--options {
    display: block;
}

.graph-picker--settings{
    display: flex;
    height: auto;
}

.graph-picker--header{
    flex: 2;
    width: auto;
    padding-left: 5px;
}

.graph-picker--text{
    flex: 1;
}

.graph-picker--list{
    flex: 4;
    height: auto;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
}

.graph-picker--radioItemsOneOption{
    flex: 2;
    display: block;
    padding-left: 20px;
    padding-right: 10px;
    padding-top: 20px;
}

.graph-picker--radioItemsTwoOptions{
    flex: 2;
    display: block;
    padding-left: 20px;
    padding-right: 10px;
    padding-top: 10px;
}

.graph-picker--radioItemsThreeOptions{
    flex: 2;
    display: block;
    padding-left: 20px;
    padding-right: 10px;
}

.graph-picker--radioItems-labelStyle{
    display: block;
}

.graph-picker--addButton {
    flex: 1;
    height: auto;
}