.graph-settings--title {
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
}

.graph-settings--container {
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 8px;
    margin-top: 8px;
    background-color: lightslategray;
}

.graph-settings--colorscale {
    flex: 3;
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 2%;
    padding-right: 2%;
}

.graph-settings--additional {
    display: flex;
    flex: 4;
    height: auto;
    padding: 10px;
}

.graph-settings--additional-data {
    flex: 1;
    height: auto;
}

.graph-settings--additional-show {
    flex: 1;
    height: auto;
}

.graph-settings--additional-hovermode {
    flex: 1;
    height: auto;
}

.graph-settings--updateButton {
    flex: 1;
    padding: 10px;
    height: 50px;
}
