.app-header {
    background-color:var(--sunny);
    text-align: center;
    margin-bottom: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 5px;
    font-size: 22px;
    border-bottom: thin lightgrey solid;
}
